body {
  background-image: url('https://c1.staticflickr.com/6/5244/5203972988_fc09ba5a42_b.jpg');
  background-size: cover; 
}
.page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*justify-content: space-around;*/
}
.header-logo {
  max-width: 600px;
  margin: 50px;
}
canvas {
  box-shadow: 2px 0px 5px 6px rgba(0,0,0,0.75);
}